*{
    padding: 0px;
    margin: 0px;
}

html
{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
